.previewDiv {
	float:right;
	width:46%;
	overflow:hidden;
}
.paramDiv {
	width:52%;
	float:left;
	overflow-x:hidden;
}
.select2-results {
	max-height:130px;
}
#tabs-basic, #tabs-links {
	overflow-y: scroll;
	max-height: 335px;
}
.wrap .select2-choice {
    height: auto !important;
}
.wrap .select2-chosen, .select2-result-label {
    word-wrap: break-word;
    white-space: normal !important;
}