.svg-out-inline {
	display: inline-block;
}
.svg-out-full-width {
	display: inline-block;
	width: 100%
}
.svg-out-left {
	text-align: left;
}
.svg-out-center {
	text-align: center;
}
.svg-out-right {
	text-align: right;
}
.svg-out-inline-spinner-on {
	display: inline-block;
}
.aui-tabs a {
	--aui-focus: none;
}