<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
   		<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>   		
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.css" integrity="sha512-MPdTbbdXvlcVvBY608oiSljIMnLgNiOb1Zi1j1kUoYUtrYRmFhqzZU2V2hmibBnnfnM5+/kTi9186cL1N9cgcw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.js" integrity="sha512-kLBpVZfZ2PI4b9hmpRZ7TiASn76dV4t0FPSjbchBc1lt+JJsUVHLAMG1kPR0LPhWgQpfd7ea85GaqFTXhQLCyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/theme.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/md5.js}" type="text/javascript"></script>
		<script th:src="@{/js/sha3.js}" type="text/javascript"></script>
		<script th:src="@{/js/apiV2Helper.js}" type="text/javascript"></script>
		<script th:src="@{/js/svg-out-editor.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/svg-out-loader.js}" type="text/javascript"></script>
		<script th:src="@{/js/svg-out-panZoom.js}" type="text/javascript"></script>
		<script th:src="@{/js/svg-out-linkReplacer.js}" type="text/javascript"></script>
		<script th:src="@{/js/svg-out-converter.js}" type="text/javascript"></script>
		<script th:src="@{/js/svg-out-selector.js}" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.1/purify.min.js" integrity="sha512-PBUtfPzExa/FxBEi6tr884CPkb9Wh0kjchdWPECubdH16+G0JjkGQHgWCO7zgINZlXtmVnpII7KnZctAPUAZWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" th:href="@{/css/svg-out.css}" media="all"/>
		<link rel="stylesheet" th:href="@{/css/svg-out-editor.css}" media="all"/>
    </head>
	
    <body style="background-color:transparent" th:data-base-url="${baseUrl}">
	
		<!-- the preview area -->
		<div class="previewDiv" id="previewDivID">
			<p>
			<button class="aui-button aui-button-link" id="run-preview">Show/update preview</button>
			<aui-spinner id="previewLoad" size="small" class="svg-out-inline-spinner-on"></aui-spinner>
			<span style="float:right; padding-right: 5px; padding-top: 5px">
				<a href="https://purde-software.atlassian.net/wiki/x/AQBLqg" target="_blank" th:attr="title=#{svg-out-cloud.documentation}"><span class="aui-icon aui-icon-small aui-iconfont-help"></span></a>
			</span>
			</p>
			<div id="preview" style="width:99%;height:345px;overflow-x:auto;overflow-y:auto;border-style:groove;border-width:1px;"></div>
		</div>
		
		<!-- the parameter area -->
		<div class="paramDiv" id="paramDivID">
			
			<!-- set our tabs -->
			<div class="aui-tabs horizontal-tabs">
				<ul class="tabs-menu">
					<li class="menu-item active-tab">
						<a href="#tabs-basic" th:text="#{svg-out-cloud.tab.basics}">Basics</a>
					</li>
					<li class="menu-item">
						<a href="#tabs-crop" th:text="#{svg-out-cloud.tab.crop}">Crop</a>
					</li>
					<li class="menu-item">
						<a href="#tabs-pan" th:text="#{svg-out-cloud.tab.pan}">Pan</a>
					</li>
					<li class="menu-item">
						<a href="#tabs-export" th:text="#{svg-out-cloud.tab.export}">Export</a>
					</li>
					<li class="menu-item">
						<a href="#tabs-links" th:text="#{svg-out-cloud.tab.links}">Links</a>
					</li>
				</ul>
		
				<!-- the Basics tab -->
				<div class="tabs-pane active-pane" id="tabs-basic">
					<form class="aui">
						<fieldset>
							<!--/*--> 
							<div class="field-group">
								<label for="attachment" th:text="#{svg-out-cloud.param.attachment.title}">Attachment</label>
								<input class="text full-width-field" id="attachment" type="text" name="attachment" style="max-width:387px"/>
								<button class="aui-button" type="button" id="resetAttachment" style="vertical-align:top">
									<span class="aui-icon aui-icon-small aui-iconfont-cross"></span>
								</button>
								<div class="description" th:text="#{svg-out-cloud.param.attachment.desc}">Attachment description</div>
							</div>
							<div class="field-group">
								<label for="svgUrl" th:text="#{svg-out-cloud.param.url.title}">Url</label>
								<input class="text full-width-field" id="svgUrl" type="text" name="svgUrl"/>
								<div class="description" th:text="#{svg-out-cloud.param.url.desc}">Url</div>
							</div>
							<!--*/-->
							<div class="aui-message aui-message-warning">
         						<small th:text="#{svg-out-cloud.warning.body}">Security warning</small>
   							</div>
							<div class="field-group">
								<label for="attachment" th:text="#{svg-out-cloud.param.attachment.title}">Attachment</label>
								<input class="text" id="attachment" type="text" name="attachment"/>
								<div class="description" th:text="#{svg-out-cloud.param.attachment.desc}">Attachment description</div>
							</div>
   							<div class="field-group">
								<label for="text-input" th:text="#{svg-out-cloud.param.width.title}">Width</label>
								<input class="text short-field" type="text" id="width" name="text-input"/>
								<div class="description" th:text="#{svg-out-cloud.param.width.desc}">Width description</div>
							</div>
							<div class="field-group">
								<label for="text-input" th:text="#{svg-out-cloud.param.height.title}">Height</label>
								<input class="text short-field" type="text" id="height" name="text-input"/>
								<div class="description" th:text="#{svg-out-cloud.param.height.desc}">Height description</div>
							</div>
							<div class="field-group">
								<label for="align" th:text="#{svg-out-cloud.param.align.title}">Type</label>
								<select class="select" id="align" name="align">
									<option th:text="#{svg-out-cloud.param.align.left}">left</option>
									<option th:text="#{svg-out-cloud.param.align.center}">center</option>
									<option th:text="#{svg-out-cloud.param.align.right}">right</option>
	    						</select>
	    						<div class="description" th:text="#{svg-out-cloud.param.align.desc}">Align description</div>
							</div>
						</fieldset>
						<fieldset class="group">
							<legend><span th:text="#{svg-out-cloud.param.basic.options}">Options</span></legend>
							<div class="checkbox">
								<input class="checkbox" type="checkbox" name="border" id="border"/>
								<label for="border" th:text="#{svg-out-cloud.param.border}">Border</label>
							</div>
							<div class="checkbox">
								<input class="checkbox" type="checkbox" name="allowUnsafe" id="allowUnsafe"/>
								<label for="allowUnsafe" th:text="#{svg-out-cloud.param.allowUnsafe}">Allow unsafe</label>
							</div>
						</fieldset>
						<div class="aui-message aui-message-warning">
         					<small th:text="#{svg-out-cloud.allowUnsafe.warning}">Allow unsafe warning</small>
   						</div>
					</form>
				</div>
				
				<!-- the Crop tab -->
				<div class="tabs-pane" id="tabs-crop">
					<form class="aui">
						<fieldset>
							<div class="field-group">
								<label for="text-input" th:text="#{svg-out-cloud.param.top.title}">Top</label>
								<input class="text short-field" type="text" id="top" name="text-input"/>
							</div>
							<div class="field-group">
								<label for="text-input" th:text="#{svg-out-cloud.param.bottom.title}">Bottom</label>
								<input class="text short-field" type="text" id="bottom" name="text-input"/>
							</div>
							<div class="field-group">
								<label for="text-input" th:text="#{svg-out-cloud.param.left.title}">Left</label>
								<input class="text short-field" type="text" id="left" name="text-input"/>
							</div>
							<div class="field-group" >
								<label for="text-input" th:text="#{svg-out-cloud.param.right.title}">Right</label>
								<input class="text short-field" type="text" id="right" name="text-input"/>
							</div>
						</fieldset>
						<image th:src="@{/images/CropSample.png}" style="float:right"></image>
						<div class="description" th:text="#{svg-out-cloud.tab.crop.desc}">Crop description</div>
					</form>
				</div>
				
				<!-- the Pan&Zoom tab -->
				<div class="tabs-pane" id="tabs-pan">
					<form class="aui">
						<div class="field-group">
							<aui-label for="panZoom" th:text="#{svg-out-cloud.param.panZoom}">Enable pan and zoom</aui-label>
							<aui-toggle id="panZoom" label='Enable pan and zoom'></aui-toggle>
						</div>
						<fieldset class="group">
							<legend><span th:text="#{svg-out-cloud.param.panZoom.options.title}">Options</span></legend>
							<div class="checkbox">
								<input class="checkbox" type="checkbox" name="startActive" id="startActive"/>
								<label for="startActive" th:text="#{svg-out-cloud.param.startActive}">Start active</label>
							</div>
							<div class="checkbox">
								<input class="checkbox" type="checkbox" name="useWheel" id="useWheel"/>
								<label for="useWheel" th:text="#{svg-out-cloud.param.useWheel}">Use wheel</label>
							</div>
							<div class="checkbox">
								<input class="checkbox" type="checkbox" name="buttons" id="buttons"/>
								<label for="buttons" th:text="#{svg-out-cloud.param.zoomButtons}">Zoom buttons</label>
							</div>
						</fieldset>
						<fieldset>
							<div class="field-group">
								<label for="text-input" th:text="#{svg-out-cloud.param.minZoom}">Min zoom</label>
								<input class="text short-field" type="text" id="minZoom" name="text-input"/>
							</div>
							<div class="field-group">
								<label for="text-input" th:text="#{svg-out-cloud.param.maxZoom}">Max zoom</label>
								<input class="text short-field" type="text" id="maxZoom" name="text-input"/>
							</div>
						</fieldset>
						<div class="description" th:text="#{svg-out-cloud.tab.panZoom.desc}">Pan and zoom description</div>
					</form>
				</div>
				
				<!-- the Export tab -->
				<div class="tabs-pane" id="tabs-export">
					<form class="aui">
						<fieldset class="group">
							<legend><span th:text="#{svg-out-cloud.param.export.options.title}">Export options</span></legend>
							<div class="checkbox">
								<input class="checkbox" type="checkbox" name="exportPNG" id="exportPNG"/>
								<label for="exportPNG" th:text="#{svg-out-cloud.param.export}">Export</label>
							</div>
						</fieldset>
						<div class="field-group">
							<label for="rasterResolution" th:text="#{svg-out-cloud.param.rasterResolution}">Raster resolution</label>
							<select class="select" id="rasterResolution" name="rasterResolution">
								<option value="0.5">0.5x</option>
								<option value="1.0">1.0x</option>
								<option value="1.5">1.5x</option>
								<option value="2.0">2.0x</option>
								<option value="3.0">3.0x</option>
								<option value="4.0">4.0x</option>
							</select>
						</div>
						<div class="description" th:text="#{svg-out-cloud.tab.export.desc}">Export description</div>
					</form>
				</div>
				
				<!-- the Links tab -->
				<div class="tabs-pane" id="tabs-links">
					<form class="aui">
						<fieldset class="group">
							<legend><span th:text="#{svg-out-cloud.param.links.options}">Link options</span></legend>
							<div class="checkbox">
								<input class="checkbox" type="checkbox" name="linkHighlight" id="linkHighlight"/>
								<label for="linkHighlight" th:text="#{svg-out-cloud.param.linkHighlight}">Link highlight</label>
							</div>
							<div class="checkbox">
								<input class="checkbox" type="checkbox" name="linkHighlightHover" id="linkHighlightHover"/>
								<label for="linkHighlightHover" th:text="#{svg-out-cloud.param.linkHighlightHover}">Link highlight hover</label>
							</div>
						</fieldset>
						<fieldset>
							<div class="field-group">
								<label for="linkselect" th:text="#{svg-out-cloud.param.linkselect}">Link selection</label>
								<select class="select" size="3" id="linkselect" name="linkselect">
				                </select>
				            </div>
				            <div class="buttons-container">
				            	<button class="aui-button" id="add-link" type="button" th:title="#{svg-out-cloud.button.links.add.toolTip}" th:text="#{svg-out-cloud.button.links.add}">+</button>
        						<button class="aui-button linkNeeded" id="remove-link" type="button" th:title="#{svg-out-cloud.button.links.remove.toolTip}" th:text="#{svg-out-cloud.button.links.remove}">-</button>
   							</div>
   							<div class="field-group">
								<label for="linkToReplace" th:text="#{svg-out-cloud.param.linkToReplace}">Link to replace</label>
								<input class="text linkNeeded" type="text" id="linkToReplace" name="linkToReplace" style="max-width:208px"/>
								<button class="aui-button linkNeeded" type="button" id="linkSelector" th:title="#{svg-out-cloud.param.linkToReplace.toolTip}"><span class="aui-icon aui-icon-small aui-iconfont-link"/></button>
							</div>
							<div class="field-group">
								<label for="type" th:text="#{svg-out-cloud.param.linkType}">Type</label>
								<select class="select linkNeeded" id="type" name="type">
									<option th:text="#{svg-out-cloud.param.linkType.confSame}">confSame</option>
									<option th:text="#{svg-out-cloud.param.linkType.confTab}">confTab</option>
									<option th:text="#{svg-out-cloud.param.linkType.extSame}">confSame</option>
									<option th:text="#{svg-out-cloud.param.linkType.extTab}">confTab</option>
	    						</select>
							</div>
							<div class="field-group" id="linkConfluence">
								<label for="linkConf" th:text="#{svg-out-cloud.param.linkConf}">Link Confluene</label>
								<input class="text linkNeeded" type="text" id="linkConf" name="linkConf"/>
							</div>
							<div class="field-group" id="linkExternal" style="display:none">
								<label for="linkExt" th:text="#{svg-out-cloud.param.linkExt}">Link external</label>
								<input class="text linkNeeded" type="text" id="linkExt" name="linkExt" placeholder="http://www.example.com"/>
							</div>
							<div class="field-group">
								<label for="anchor" th:text="#{svg-out-cloud.param.anchor}">Anchor</label>
								<input class="text linkNeeded" type="text" id="anchor" name="anchor"/>
							</div>
							<div class="field-group">
								<label for="tooltip" th:text="#{svg-out-cloud.param.tooltip}">Tooltip</label>
								<input class="text linkNeeded" type="text" id="tooltip" name="tooltip"/>
							</div>
			            </fieldset>
			            <div class="description">
			            	<a data-aui-trigger="true" aria-controls="linkDetails" href="#linkDetails" th:text="#{svg-out-cloud.tab.links.desc}">Links description</a>
			            </div>
					</form>
					<aui-inline-dialog id="linkDetails" alignment="top right" style="max-width:420px" th:utext="#{svg-out-cloud.tab.links.desc.additional}">
			        	<p>Hi there</p>
					</aui-inline-dialog>
				</div>
			</div>
		</div>
		
		<div style="display:none">
			<p id="genPNGTitle" th:text="#{svg-out-cloud.message.view.generatingPNG.title}"></p>
			<p id="genPNG" th:text="#{svg-out-cloud.message.view.generatingPNG}"></p>
			<p id="errorFind" th:text="#{svg-out-cloud.message.findAttachments}"></p>
			<p id="securityCheck" th:text="#{svg-out-cloud.message.securityCheck}"></p>
			<p id="compressedDraft" th:text="#{svg-out-cloud.message.compressedDraft}"></p>
			<p id="attachmentPlaceholder" th:text="#{svg-out-cloud.param.attachment.placeholder}"></p>
			<p id="defaultLinkName" th:text="#{svg-out-cloud.param.linkToReplace.default}"></p>
		</div>
		
		<div style="display:none" id="nonce-pool" th:data-nonce-pool="${noncePool}"></div>
	</body>
</html>