<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
   		<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.css" integrity="sha512-MPdTbbdXvlcVvBY608oiSljIMnLgNiOb1Zi1j1kUoYUtrYRmFhqzZU2V2hmibBnnfnM5+/kTi9186cL1N9cgcw==" crossorigin="anonymous" referrerpolicy="no-referrer" />   		   		
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.js" integrity="sha512-kLBpVZfZ2PI4b9hmpRZ7TiASn76dV4t0FPSjbchBc1lt+JJsUVHLAMG1kPR0LPhWgQpfd7ea85GaqFTXhQLCyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/theme.js}" type="text/javascript" defer></script>
		<link rel="stylesheet" th:href="@{/css/svg-out.css}" media="all"/>
		<link rel="stylesheet" th:href="@{/css/svg-out-configure.css}" media="all"/>
		<script th:src="@{/js/svg-out-configure.js}" type="text/javascript" defer></script>
    </head>
	
	<body style="background-color:transparent">
		<div class="ac-content">
			<form id="svg-out-configure" class="aui top-label">
				<div>
					<h4 th:text="#{svg-out-cloud.conf.security}"></h4>
					<p></p>
					<fieldset>
						<select class="select full-width-field" id="securityMode" name="securityMode">
							<option value="internal" th:text="#{svg-out-cloud.conf.mode.internal}"></option>
							<option value="dompurify" th:text="#{svg-out-cloud.conf.mode.dompurify}"></option>
							<option value="none" th:text="#{svg-out-cloud.conf.mode.none}"></option>
						</select>
						<div class="description">
							<span th:text="#{svg-out-cloud.conf.mode.desc1}"></span> 
							<a href="https://purde-software.atlassian.net/wiki/x/AQBLqg" target="_blank" th:text="#{svg-out-cloud.conf.mode.desc2}"></a> 
							<span th:text="#{svg-out-cloud.conf.mode.desc3}"></span> 
						</div>
					</fieldset>
					<fieldset class="top-label">
						<div id="white-list-group" class="field-group">
							<label for="whiteList" th:text="#{svg-out-cloud.conf.whiteList.title}">white list</label>
							<textarea class="textarea full-width-field" rows="6" name="whiteList" id="whiteList"></textarea>
							<div class="description" th:text="#{svg-out-cloud.conf.whiteList.desc}">white list description</div>
						</div>
					</fieldset>
					<div id="check-warning" class="aui-message aui-message-warning">
						<small class="title"><strong th:text="#{svg-out-cloud.conf.check.warning.title}">Security warning title</strong></small>
						<small th:text="#{svg-out-cloud.conf.check.warning}">Security warning</small>
					</div>
				</div>
				<div>
					<h4 th:text="#{svg-out-cloud.conf.export}" style="margin-top:1cm"></h4>
					<p></p>
					<fieldset>
						<div class="checkbox">
							<input class="checkbox" type="checkbox" name="exportPNGDefault" id="exportPNGDefault"/>
							<label for="exportPNGDefault" th:text="#{svg-out-cloud.conf.exportPNGDefault.title}">PNG export default</label>
							<div class="description" th:text="#{svg-out-cloud.conf.exportPNGDefault.desc}">PNG export description</div>
						</div>
					</fieldset>
				</div>
				<p style="margin-top:1cm">
					<button class="aui-button" type="button" id="save" th:text="#{svg-out-cloud.conf.save}">Save</button>
					<aui-spinner id="saveInProgress" size="small" class="svg-out-inline-spinner-on"></aui-spinner>
				</p>
			</form>
		</div>
	</body>
</html>