<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
   		<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.css" integrity="sha512-MPdTbbdXvlcVvBY608oiSljIMnLgNiOb1Zi1j1kUoYUtrYRmFhqzZU2V2hmibBnnfnM5+/kTi9186cL1N9cgcw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
	
	<body style="background-color:transparent">
		<div class="ac-content" th:text="#{svg-out-cloud.message.nothing}">Nothing to show!</div>
	</body>
</html>