<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
		<script th:if="${isInline}" src="//connect-cdn.atl-paas.net/all.js" type="text/javascript" data-options="resize:false"></script>
   		<script th:unless="${isInline}" src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>   		
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.css" integrity="sha512-MPdTbbdXvlcVvBY608oiSljIMnLgNiOb1Zi1j1kUoYUtrYRmFhqzZU2V2hmibBnnfnM5+/kTi9186cL1N9cgcw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.js" integrity="sha512-kLBpVZfZ2PI4b9hmpRZ7TiASn76dV4t0FPSjbchBc1lt+JJsUVHLAMG1kPR0LPhWgQpfd7ea85GaqFTXhQLCyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/theme.js}" type="text/javascript" defer></script>		
		<script th:src="@{/js/md5.js}" type="text/javascript"></script>
		<script th:src="@{/js/sha3.js}" type="text/javascript"></script>
		<script th:src="@{/js/apiV2Helper.js}" type="text/javascript"></script>
		<script th:src="@{/js/svg-out-frame.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/svg-out-loader.js}" type="text/javascript"></script>
		<script th:src="@{/js/svg-out-panZoom.js}" type="text/javascript"></script>
		<script th:src="@{/js/svg-out-linkReplacer.js}" type="text/javascript"></script>
		<script th:src="@{/js/svg-out-converter.js}" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.1/purify.min.js" integrity="sha512-PBUtfPzExa/FxBEi6tr884CPkb9Wh0kjchdWPECubdH16+G0JjkGQHgWCO7zgINZlXtmVnpII7KnZctAPUAZWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" th:href="@{/css/svg-out.css}" media="all"/>	
    </head>
	
	<body style="background-color:transparent;overflow:hidden">
		<div class="ac-content" th:classappend='${isInline ? "svg-out-inline" : "svg-out-full-width"}' id="svg-content">
			<div class="svg-out" th:classappend='${align == "0" ? "svg-out-left" : align == "1" ? "svg-out-center" : align == "2" ? "svg-out-right" : ""}'
				th:widthTarget="${width}" th:heightTarget="${height}" th:leftCrop="${left}" th:rightCrop="${right}" th:topCrop="${top}" th:bottomCrop="${bottom}" th:border="${border}"
				th:panAndZoom="${panZoom}" th:useWheel="${useWheel}" th:startActive="${startActive}" th:zoomButtons="${zoomButtons}" th:minZoom="${minZoom}" th:maxZoom="${maxZoom}"
				th:attachmentID="${attachmentID}" th:linkList="${linkList}" th:exportPNG="${exportPNG}" th:md5Short="${md5Short}" th:pageId="${pageId}"
				th:rasterResolution="${rasterResolution}" th:svgUrl="${svgUrl}"	th:_name="${_name}" th:_page="${_page}" th:linkHighlightHover="${linkHighlightHover}"
				th:linkHighlight="${linkHighlight}" th:data-base-url="${baseUrl}" th:data-is-inline="${isInline}" th:data-output-type="${outputType}" th:data-allow-unsafe="${allowUnsafe}">
				<div id="loadMessage" style="display:none">
					[[#{svg-out-cloud.message.loading}]]
					<aui-spinner class="svg-out-inline-spinner-on" size="small"></aui-spinner>
				</div>
			</div>
		</div>
		
		<div style="display:none">
			<p id="genPNGTitle" th:text="#{svg-out-cloud.message.view.generatingPNG.title}"></p>
			<p id="genPNG" th:text="#{svg-out-cloud.message.view.generatingPNG}"></p>
			<p id="errorFind" th:text="#{svg-out-cloud.message.findAttachments}"></p>
			<p id="securityCheck" th:text="#{svg-out-cloud.message.securityCheck}"></p>
		</div>
		
		<div style="display:none" id="nonce-pool" th:data-nonce-pool="${noncePool}"></div>
	</body>
</html>